body, div, th, td, span, a, b, strong, li, label, font, em, legend {
  font-family: Verdana, sanserif;
  font-size: 12pt;
}
table, td, th {
  border-spacing: 0;
  border-collapse: collapse;
}
div.ttt-view {
  margin: 10px auto;
  display: none;
  text-align: center;
}
/** ------------------- TTT Cell Related stuff ------------------- */
div.ttt-grid > table, .ttt-message, .ttt-player-win-counts {
  text-align: center;
  display: block;
}
div.ttt-view#console {
  display: inline-block;
}

/** ------------------- TTT Cell Related stuff ------------------- */
td.ttt-cell {
  width: 50px;
  height: 50px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 95px;
  border: 1px solid gray;
}
td:hover.ttt-cell {
  background-color: #CCC;
}
tr > td:first-child.ttt-cell {
  border-left:0;
}
tr > td:last-child.ttt-cell {
  border-right:0;
}
tr:first-child > td {
  border-top:0;
}
tr:last-child > td {
  border-bottom:0;
}
/** ------------------- Front Title Screen font ------------------- */
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  /*
  font-size: 92px;
  padding: 30px 40px;
  */
  font-size: 5em;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  &.retroshadow {
    color: #2c2c2c;
    //background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }
}